/*
// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*= require trix
*/
@import "bootstrap";


html{
  overflow-y: scroll;
}
body{
  padding-top: 150px;
  background: whitesmoke;
}

.image{
  display: block;
  margin-bottom: 1.5em;
}
.debug_dump{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 50px;
	
}

article.post{
  border-bottom: 0.1em solid darkgrey;
}

field_with_errors.input {

   corder-color: red;
}

.img-show{
  display: block;
  margin-bottom: 2em;
}