/*
// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*= require trix
*/
@import "bootstrap";


html{
  overflow-y: scroll;
}
body{
  padding-top: 50px;
  background: whitesmoke;
}

.image{
  display: block;
  margin-bottom: 1.5em;
}
.debug_dump{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 50px;
	
}